body {
    background-color: bisque;
    font-family: Merriweather, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    border-radius: 1em;;
    padding: 2em;
}

canvas {
    background-color: burlywood;
    border: 2px solid black;
    width: 95%;
}

.equation {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#flex-container {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}